---
domain:   <DOMAIN>
email:    <ADMIN EMAIL FOR LETS ENCRYPT>

username: <USERNAME>

# This password is intended to be _temporary_.
# You should change it at first login, but apparently Nextcloud can't
# enforce that?!
temporary_password: <*TEMPORARY* PASSWORD>

bucket:   <DIGITALOCEAN SPACES BUCKET NAME>
region:   <DIGITALOCEAN SPACES BUCKET REGION>
key:      <DIGITALOCEAN SPACES KEY>
secret:   <DIGITALOCEAN SPACES SECRET>
